@page "/molkky/gameplay"
@using Domain;
@using Infrastructure;

<PageTitle>Game</PageTitle>

<div class="container">
    <h1>Game</h1>

    <p role="status">Winner: <b>@game?.Winner?.Name</b></p>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Current player: @game?.CurrentPlayer?.Name</h5>
                </div>
            </div>
        </div>
    </div>

    <Keyboard OnScoreAdded="AddScore" />

    @if(game is not null)
    {
        <h2>Players:</h2>
        <div class="row">
            @foreach (var player in game.Players)
            {
                <div class="col-md-3 col-sm-6 col-6 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title @(player.InDanger ? "text-danger" : "")">
                                @player.Name : @player.Score
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if(game.Losers.Any())
        {
            <h3>Losers:</h3>
            <div class="row">
                @foreach (var loser in game.Losers)
                {
                    <div class="col-md-3 col-sm-6 col-6 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">@loser.Name</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>

@code {
    private Game? game;

    [Inject]
    private GameSessionStorage? GameStorage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(GameStorage is not null)
        {
            game = await GameStorage.LoadGameState();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(GameStorage is not null)
        {
            await GameStorage.SaveGameState(game);
        }
    }

    private void AddScore(int score)
    {
        if(game is not null)
        {
            game.SetThrowScoreForCurrentPlayer(score);
        }
    }
}
