@using Infrastructure;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">molkky</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link mb-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> New game
            </NavLink>
            <NavLink class="nav-link mb-3" href="/" Match="NavLinkMatch.All" @onclick="ResetGame">
                <span class="oi oi-loop-circular" aria-hidden="true"></span> Restart game
            </NavLink>
            <NavLink class="nav-link mb-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Inject]
    private GameSessionStorage? GameStorage { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ResetGame()
    {
        if(GameStorage is null) return;
        
        await GameStorage.RemoveGameState();
    }
}
